@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

html,body {
	background: url('images/99.jpg');
	margin:0 auto;
	padding:0;
	width:100%;
	height:90%;
	background-size: auto;
}

.text {
	opacity: 5;
}

.navbar {
	text-align: center;
	width: 100%;
	background: #262121;
	opacity: 0.8;
	display: none;
}

.navbar ul {
	font-family: Buxton Sketch;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	margin-left: 17%
}

.navbar ul li a {
	display: block;
	padding: 15px;
	color: white;
	text-decoration: none;
	width: 150px;
}

.navbar ul:after {
	content: "";clear: both;
	display: block;
}

.navbar ul li {
	float: left;
	list-style: none;
}

.navbar ul ul {
	display: none;
}

.navbar ul li:hover > ul{
	display: block;
}

.navbar ul li:hover {
	background: black;
	color:white;
	transition:0.9s;
}

.navbar ul li:hover a {
	background: black;
	color:white;
}

.navbar ul ul {
	background: black;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 100%;
}

.navbar ul ul li {
	float: none;
	position: relative;
}

.navbar ul ul li a {
	padding: 15px;
	background: grey;
	color: white;
	width: 150px;
	text-align: left;
}

.navbar ul ul li a:hover {
	background: grey;
	color: white;
	transition: 0.9s;
}

.intro {

	height:100%;
	width:100%;
	margin:auto;;
	display: table;
	top: 0;
	background-size: auto;
}

.intro .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

.content {
	max-width: 300px;
	margin: 0;
	text-align: center;
}

.content h1 {
	font-size: 28px;
	font-weight: 100;
	color:black;
	opacity:1.0;
	font-family: Bradley Hand ITC;
	line-height: 25%;
}

.content p {
	font-family: Bradley Hand ITC;
	font-size: 20px;
	font-weight: 100;
	color:black;
}

.content h3{
	color: white;
}

table {
    font-family: Calibri (Body);
		align-content: center;
    border-collapse: collapse;
    width: 65%;
}

td, th {
    text-align: left;
    padding: 2px;
		color:black;

}

tr:nth-child(even) {
	  list-style:disc inside;
}
